@model LocationListViewModel
@{
    ViewBag.Title = "Product List: Tanner Patrick";
}

<h1>Product List: Tanner Patrick</h1>
<div class="row">
    <div class="col-sm-2">
        <a asp-controller="Home" asp-action="Locations" asp-route-id="All"
           class="list-group-item
                @(Model.CheckActiveCategory("ALL"))">
            All
        </a>

        @foreach (Category c in Model.Categories)
        {
        <a asp-controller="Home" asp-action="Locations" asp-route-id="All">
            <a asp-controller="Home" asp-action="Locations" asp-route-id="@c.CategoryName"
               class="list-group-item
                    @(Model.CheckActiveCategory(c.CategoryName))">
                    @c.CategoryName
            </a>  
        </a>
        }

            
    </div>

    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var location in Model.Locations)
                {
                    <tr>
                        <td>@location.LocationName</td>
                        <td>@location.LocationDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
